/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#W1siMTAwIiwxMCxudWxsLCIyMDAiLDIwLG51bGwsIjMwMCIsMzAsbnVsbCwiNDAwIiw0MCxudWxsLCI1MDAiLDUxLG51bGwsIjYwMCIsNjUsbnVsbCwiNzAwIiw3NyxudWxsLCI4MDAiLDkwLG51bGwsIjkwMCIsMTAwLG51bGxdLFsidmlvbGV0IiwzMDAsIlB1cnBsZSIsMzEwLCJGdWNoc2lhIiwzMjAsIk9yY2hpZCIsMzMwLCJCeXphbnRpdW0iLDM0MCwiTXVsYmVycnkiLDM1MCwiRmxhbWluZ28iLDM2MCwiUGluayIsMTAsIlJlZCIsMjAsIkNvcmFsIiwzMCwiTWFob2dhbnkiLDQwLCJBcHJpY290Iiw1MCwiQnJvbnplIiw2MCwiVHVycXVvaXNlIiwxODAsIkN5YW4iLDE5MCwiRWxlY3RyaWMgYmx1ZSIsMjAwLCJQZWxvcnVzIiwyMTAsIlNreSIsMjIwLCJDZXJ1bGVhbiIsMjMwLCJTdGVlbCIsMjQwLCJBenVyZSIsMjUwLCJCbHVlIiwyNjAsIk5lb24iLDI3MCwiSXJpcyIsMjgwLCJMYXZlbmRlciIsMjkwLGZhbHNlLDMwMF0sWyJhcGNhIiwiZmdUb0JnIiwiZXZlbiIsIiNmZmYiLCIjMDAwIiwwLCJwMyJdXQ
*/
:root {
  --violet-100: oklch(0.94 0.03 300);
  --violet-200: oklch(0.89 0.06 300);
  --violet-300: oklch(0.84 0.09 300);
  --violet-400: oklch(0.78 0.12 300);
  --violet-500: oklch(0.72 0.15 300);
  --violet-600: oklch(0.62 0.13 300);
  --violet-700: oklch(0.53 0.11 300);
  --violet-800: oklch(0.42 0.09 300);
  --violet-900: oklch(0.31 0.07 300);

  --purple-100: oklch(0.94 0.03 310);
  --purple-200: oklch(0.89 0.06 310);
  --purple-300: oklch(0.84 0.09 310);
  --purple-400: oklch(0.78 0.12 310);
  --purple-500: oklch(0.72 0.15 310);
  --purple-600: oklch(0.63 0.13 310);
  --purple-700: oklch(0.54 0.11 310);
  --purple-800: oklch(0.42 0.09 310);
  --purple-900: oklch(0.31 0.07 310);

  --fuchsia-100: oklch(0.94 0.03 320);
  --fuchsia-200: oklch(0.89 0.06 320);
  --fuchsia-300: oklch(0.84 0.09 320);
  --fuchsia-400: oklch(0.79 0.12 320);
  --fuchsia-500: oklch(0.72 0.15 320);
  --fuchsia-600: oklch(0.63 0.13 320);
  --fuchsia-700: oklch(0.54 0.11 320);
  --fuchsia-800: oklch(0.42 0.09 320);
  --fuchsia-900: oklch(0.31 0.07 320);

  --orchid-100: oklch(0.94 0.03 330);
  --orchid-200: oklch(0.89 0.06 330);
  --orchid-300: oklch(0.84 0.09 330);
  --orchid-400: oklch(0.79 0.12 330);
  --orchid-500: oklch(0.72 0.15 330);
  --orchid-600: oklch(0.63 0.13 330);
  --orchid-700: oklch(0.54 0.11 330);
  --orchid-800: oklch(0.42 0.09 330);
  --orchid-900: oklch(0.31 0.07 330);
  --byzantium-100: oklch(0.94 0.03 340);
  --byzantium-200: oklch(0.89 0.06 340);
  --byzantium-300: oklch(0.84 0.09 340);
  --byzantium-400: oklch(0.79 0.12 340);
  --byzantium-500: oklch(0.72 0.15 340);
  --byzantium-600: oklch(0.63 0.13 340);
  --byzantium-700: oklch(0.54 0.11 340);
  --byzantium-800: oklch(0.42 0.09 340);
  --byzantium-900: oklch(0.31 0.07 340);
  --mulberry-100: oklch(0.94 0.03 350);
  --mulberry-200: oklch(0.89 0.06 350);
  --mulberry-300: oklch(0.84 0.09 350);
  --mulberry-400: oklch(0.79 0.12 350);
  --mulberry-500: oklch(0.72 0.15 350);
  --mulberry-600: oklch(0.63 0.13 350);
  --mulberry-700: oklch(0.54 0.11 350);
  --mulberry-800: oklch(0.42 0.09 350);
  --mulberry-900: oklch(0.31 0.07 350);
  --flamingo-100: oklch(0.94 0.03 360);
  --flamingo-200: oklch(0.89 0.06 360);
  --flamingo-300: oklch(0.84 0.09 360);
  --flamingo-400: oklch(0.79 0.12 360);
  --flamingo-500: oklch(0.72 0.15 360);
  --flamingo-600: oklch(0.63 0.13 360);
  --flamingo-700: oklch(0.54 0.11 360);
  --flamingo-800: oklch(0.42 0.09 360);
  --flamingo-900: oklch(0.31 0.07 360);
  --pink-100: oklch(0.94 0.03 10);
  --pink-200: oklch(0.89 0.06 10);
  --pink-300: oklch(0.84 0.09 10);
  --pink-400: oklch(0.79 0.12 10);
  --pink-500: oklch(0.72 0.15 10);
  --pink-600: oklch(0.63 0.13 10);
  --pink-700: oklch(0.54 0.11 10);
  --pink-800: oklch(0.42 0.09 10);
  --pink-900: oklch(0.31 0.07 10);
  --red-100: oklch(0.94 0.03 20);
  --red-200: oklch(0.89 0.06 20);
  --red-300: oklch(0.84 0.09 20);
  --red-400: oklch(0.79 0.12 20);
  --red-500: oklch(0.72 0.15 20);
  --red-600: oklch(0.63 0.13 20);
  --red-700: oklch(0.54 0.11 20);
  --red-800: oklch(0.42 0.09 20);
  --red-900: oklch(0.31 0.07 20);
  --coral-100: oklch(0.94 0.03 30);
  --coral-200: oklch(0.89 0.06 30);
  --coral-300: oklch(0.84 0.09 30);
  --coral-400: oklch(0.79 0.12 30);
  --coral-500: oklch(0.72 0.15 30);
  --coral-600: oklch(0.62 0.13 30);
  --coral-700: oklch(0.53 0.11 30);
  --coral-800: oklch(0.42 0.09 30);
  --coral-900: oklch(0.31 0.07 30);
  --mahogany-100: oklch(0.94 0.03 40);
  --mahogany-200: oklch(0.89 0.06 40);
  --mahogany-300: oklch(0.84 0.09 40);
  --mahogany-400: oklch(0.78 0.12 40);
  --mahogany-500: oklch(0.72 0.15 40);
  --mahogany-600: oklch(0.62 0.13 40);
  --mahogany-700: oklch(0.53 0.11 40);
  --mahogany-800: oklch(0.42 0.09 40);
  --mahogany-900: oklch(0.31 0.07 40);
  --apricot-100: oklch(0.94 0.03 50);
  --apricot-200: oklch(0.89 0.06 50);
  --apricot-300: oklch(0.84 0.09 50);
  --apricot-400: oklch(0.78 0.12 50);
  --apricot-500: oklch(0.72 0.15 50);
  --apricot-600: oklch(0.62 0.13 50);
  --apricot-700: oklch(0.53 0.11 50);
  --apricot-800: oklch(0.42 0.09 50);
  --apricot-900: oklch(0.31 0.07 50);
  --bronze-100: oklch(0.94 0.03 60);
  --bronze-200: oklch(0.89 0.06 60);
  --bronze-300: oklch(0.83 0.09 60);
  --bronze-400: oklch(0.78 0.12 60);
  --bronze-500: oklch(0.71 0.15 60);
  --bronze-600: oklch(0.62 0.13 60);
  --bronze-700: oklch(0.53 0.11 60);
  --bronze-800: oklch(0.42 0.09 60);
  --bronze-900: oklch(0.3 0.07 60);
  --turquoise-100: oklch(0.93 0.03 180);
  --turquoise-200: oklch(0.88 0.06 180);
  --turquoise-300: oklch(0.82 0.09 180);
  --turquoise-400: oklch(0.76 0.12 180);
  --turquoise-500: oklch(0.68 0.15 180);
  --turquoise-600: oklch(0.59 0.13 180);
  --turquoise-700: oklch(0.51 0.11 180);
  --turquoise-800: oklch(0.4 0.09 180);
  --turquoise-900: oklch(0.29 0.07 180);
  --cyan-100: oklch(0.93 0.03 190);
  --cyan-200: oklch(0.88 0.06 190);
  --cyan-300: oklch(0.82 0.09 190);
  --cyan-400: oklch(0.76 0.12 190);
  --cyan-500: oklch(0.68 0.15 190);
  --cyan-600: oklch(0.59 0.13 190);
  --cyan-700: oklch(0.51 0.11 190);
  --cyan-800: oklch(0.4 0.09 190);
  --cyan-900: oklch(0.29 0.07 190);
  --electric-blue-100: oklch(0.93 0.03 200);
  --electric-blue-200: oklch(0.88 0.06 200);
  --electric-blue-300: oklch(0.82 0.09 200);
  --electric-blue-400: oklch(0.76 0.12 200);
  --electric-blue-500: oklch(0.68 0.15 200);
  --electric-blue-600: oklch(0.59 0.13 200);
  --electric-blue-700: oklch(0.51 0.11 200);
  --electric-blue-800: oklch(0.4 0.09 200);
  --electric-blue-900: oklch(0.29 0.07 200);
  --pelorus-100: oklch(0.93 0.03 210);
  --pelorus-200: oklch(0.88 0.06 210);
  --pelorus-300: oklch(0.82 0.09 210);
  --pelorus-400: oklch(0.76 0.12 210);
  --pelorus-500: oklch(0.69 0.15 210);
  --pelorus-600: oklch(0.6 0.13 210);
  --pelorus-700: oklch(0.51 0.11 210);
  --pelorus-800: oklch(0.4 0.09 210);
  --pelorus-900: oklch(0.29 0.07 210);
  --sky-100: oklch(0.93 0.03 220);
  --sky-200: oklch(0.88 0.06 220);
  --sky-300: oklch(0.82 0.09 220);
  --sky-400: oklch(0.76 0.12 220);
  --sky-500: oklch(0.69 0.15 220);
  --sky-600: oklch(0.6 0.13 220);
  --sky-700: oklch(0.51 0.11 220);
  --sky-800: oklch(0.4 0.09 220);
  --sky-900: oklch(0.29 0.07 220);
  --cerulean-100: oklch(0.93 0.03 230);
  --cerulean-200: oklch(0.88 0.06 230);
  --cerulean-300: oklch(0.82 0.09 230);
  --cerulean-400: oklch(0.76 0.12 230);
  --cerulean-500: oklch(0.69 0.15 230);
  --cerulean-600: oklch(0.6 0.13 230);
  --cerulean-700: oklch(0.51 0.11 230);
  --cerulean-800: oklch(0.4 0.09 230);
  --cerulean-900: oklch(0.29 0.07 230);
  --steel-100: oklch(0.93 0.03 240);
  --steel-200: oklch(0.88 0.06 240);
  --steel-300: oklch(0.83 0.09 240);
  --steel-400: oklch(0.77 0.12 240);
  --steel-500: oklch(0.7 0.15 240);
  --steel-600: oklch(0.61 0.13 240);
  --steel-700: oklch(0.52 0.11 240);
  --steel-800: oklch(0.41 0.09 240);
  --steel-900: oklch(0.3 0.07 240);
  --azure-100: oklch(0.94 0.03 250);
  --azure-200: oklch(0.88 0.06 250);
  --azure-300: oklch(0.83 0.09 250);
  --azure-400: oklch(0.77 0.12 250);
  --azure-500: oklch(0.7 0.15 250);
  --azure-600: oklch(0.61 0.13 250);
  --azure-700: oklch(0.52 0.11 250);
  --azure-800: oklch(0.41 0.09 250);
  --azure-900: oklch(0.3 0.07 250);
  --blue-100: oklch(0.94 0.03 260);
  --blue-200: oklch(0.88 0.06 260);
  --blue-300: oklch(0.83 0.09 260);
  --blue-400: oklch(0.77 0.12 260);
  --blue-500: oklch(0.71 0.15 260);
  --blue-600: oklch(0.61 0.13 260);
  --blue-700: oklch(0.52 0.11 260);
  --blue-800: oklch(0.41 0.09 260);
  --blue-900: oklch(0.3 0.07 260);
  --neon-100: oklch(0.94 0.03 270);
  --neon-200: oklch(0.89 0.06 270);
  --neon-300: oklch(0.83 0.09 270);
  --neon-400: oklch(0.78 0.12 270);
  --neon-500: oklch(0.71 0.15 270);
  --neon-600: oklch(0.62 0.13 270);
  --neon-700: oklch(0.53 0.11 270);
  --neon-800: oklch(0.41 0.09 270);
  --neon-900: oklch(0.3 0.07 270);
  --iris-100: oklch(0.94 0.03 280);
  --iris-200: oklch(0.89 0.06 280);
  --iris-300: oklch(0.83 0.09 280);
  --iris-400: oklch(0.78 0.12 280);
  --iris-500: oklch(0.71 0.15 280);
  --iris-600: oklch(0.62 0.13 280);
  --iris-700: oklch(0.53 0.11 280);
  --iris-800: oklch(0.42 0.09 280);
  --iris-900: oklch(0.31 0.07 280);
  --lavender-100: oklch(0.94 0.03 290);
  --lavender-200: oklch(0.89 0.06 290);
  --lavender-300: oklch(0.84 0.09 290);
  --lavender-400: oklch(0.78 0.12 290);
  --lavender-500: oklch(0.72 0.15 290);
  --lavender-600: oklch(0.62 0.13 290);
  --lavender-700: oklch(0.53 0.11 290);
  --lavender-800: oklch(0.42 0.09 290);
  --lavender-900: oklch(0.31 0.07 290);
}
