/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#W1siMTAwIiwxMDAsbnVsbCwiMjAwIiw5MCxudWxsLCIzMDAiLDc3LG51bGwsIjQwMCIsNjUsbnVsbCwiNTAwIiw1MSxudWxsLCI2MDAiLDY1LG51bGwsIjcwMCIsNzcsbnVsbCwiODAwIiw5MCxudWxsLCI5MDAiLDEwMCxudWxsXSxbIlJlZCIsMjUsIlBpbmsiLDM1MCwiUHVycGxlIiwzMTAsIlZpb2xldCIsMjkwLCJJbmRpZ28iLDI3MCwiQmx1ZSIsMjQwLCJDeWFuIiwyMTAsIlRlYWwiLDE4NV0sWyJhcGNhIiwiZmdUb0JnIiwiZXZlbiIsIiNmZmYiLCIjMDAwIiw0LCJwMyJdXQ
*/

/* NOTE: these are the same HUE values as in Open Props oklch color palette */
:root {
  --red-100: oklch(0.97 0.02 25);
  --red-200: oklch(0.92 0.04 25);
  --red-300: oklch(0.86 0.08 25);
  --red-400: oklch(0.8 0.11 25);
  --red-500: oklch(0.72 0.16 25);
  --red-600: oklch(0.63 0.14 25);
  --red-700: oklch(0.53 0.12 25);
  --red-800: oklch(0.42 0.09 25);
  --red-900: oklch(0.31 0.07 25);
  --pink-100: oklch(0.97 0.02 350);
  --pink-200: oklch(0.92 0.04 350);
  --pink-300: oklch(0.86 0.08 350);
  --pink-400: oklch(0.8 0.11 350);
  --pink-500: oklch(0.72 0.16 350);
  --pink-600: oklch(0.63 0.14 350);
  --pink-700: oklch(0.54 0.12 350);
  --pink-800: oklch(0.42 0.09 350);
  --pink-900: oklch(0.31 0.07 350);
  --purple-100: oklch(0.97 0.02 310);
  --purple-200: oklch(0.92 0.04 310);
  --purple-300: oklch(0.86 0.08 310);
  --purple-400: oklch(0.8 0.11 310);
  --purple-500: oklch(0.72 0.16 310);
  --purple-600: oklch(0.63 0.14 310);
  --purple-700: oklch(0.54 0.12 310);
  --purple-800: oklch(0.42 0.09 310);
  --purple-900: oklch(0.31 0.07 310);
  --violet-100: oklch(0.97 0.02 290);
  --violet-200: oklch(0.92 0.04 290);
  --violet-300: oklch(0.86 0.08 290);
  --violet-400: oklch(0.8 0.11 290);
  --violet-500: oklch(0.72 0.16 290);
  --violet-600: oklch(0.62 0.14 290);
  --violet-700: oklch(0.53 0.12 290);
  --violet-800: oklch(0.42 0.09 290);
  --violet-900: oklch(0.31 0.07 290);
  --indigo-100: oklch(0.96 0.02 270);
  --indigo-200: oklch(0.92 0.04 270);
  --indigo-300: oklch(0.85 0.08 270);
  --indigo-400: oklch(0.79 0.11 270);
  --indigo-500: oklch(0.71 0.16 270);
  --indigo-600: oklch(0.62 0.14 270);
  --indigo-700: oklch(0.53 0.12 270);
  --indigo-800: oklch(0.41 0.09 270);
  --indigo-900: oklch(0.3 0.07 270);
  --blue-100: oklch(0.96 0.02 240);
  --blue-200: oklch(0.92 0.04 240);
  --blue-300: oklch(0.85 0.08 240);
  --blue-400: oklch(0.78 0.11 240);
  --blue-500: oklch(0.7 0.16 240);
  --blue-600: oklch(0.61 0.14 240);
  --blue-700: oklch(0.52 0.12 240);
  --blue-800: oklch(0.41 0.09 240);
  --blue-900: oklch(0.3 0.07 240);
  --cyan-100: oklch(0.96 0.02 210);
  --cyan-200: oklch(0.91 0.04 210);
  --cyan-300: oklch(0.84 0.08 210);
  --cyan-400: oklch(0.78 0.11 210);
  --cyan-500: oklch(0.69 0.16 210);
  --cyan-600: oklch(0.6 0.14 210);
  --cyan-700: oklch(0.51 0.12 210);
  --cyan-800: oklch(0.4 0.09 210);
  --cyan-900: oklch(0.29 0.07 210);
  --teal-100: oklch(0.96 0.02 185);
  --teal-200: oklch(0.91 0.04 185);
  --teal-300: oklch(0.84 0.08 185);
  --teal-400: oklch(0.77 0.11 185);
  --teal-500: oklch(0.68 0.16 185);
  --teal-600: oklch(0.59 0.14 185);
  --teal-700: oklch(0.51 0.12 185);
  --teal-800: oklch(0.4 0.09 185);
  --teal-900: oklch(0.29 0.07 185);
}
