/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#W1siMTAwIiwxMDAsbnVsbCwiMjAwIiw5MCxudWxsLCIzMDAiLDc3LG51bGwsIjQwMCIsNjUsbnVsbCwiNTAwIiw1MSxudWxsLCI2MDAiLDY1LG51bGwsIjcwMCIsNzcsbnVsbCwiODAwIiw5MCxudWxsLCI5MDAiLDEwMCxudWxsXSxbIlJlZCIsMjUsIlBpbmsiLDM1MCwiUHVycGxlIiwzMTAsIlZpb2xldCIsMjkwLCJJbmRpZ28iLDI3MCwiQmx1ZSIsMjQwLCJDeWFuIiwyMTAsIlRlYWwiLDE4NV0sWyJhcGNhIiwiZmdUb0JnIiwibWF4IiwiI2ZmZiIsIiMwMDAiLDQsInAzIl1d
*/
:root {
  --red-max-100: oklch(0.97 0.02 25);
  --red-max-200: oklch(0.92 0.05 25);
  --red-max-300: oklch(0.86 0.09 25);
  --red-max-400: oklch(0.8 0.14 25);
  --red-max-500: oklch(0.73 0.21 25);
  --red-max-600: oklch(0.63 0.29 25);
  --red-max-700: oklch(0.53 0.24 25);
  --red-max-800: oklch(0.41 0.19 25);
  --red-max-900: oklch(0.29 0.13 25);
  --pink-max-100: oklch(0.97 0.02 350);
  --pink-max-200: oklch(0.92 0.06 350);
  --pink-max-300: oklch(0.87 0.11 350);
  --pink-max-400: oklch(0.81 0.17 350);
  --pink-max-500: oklch(0.73 0.25 350);
  --pink-max-600: oklch(0.63 0.3 350);
  --pink-max-700: oklch(0.54 0.25 350);
  --pink-max-800: oklch(0.42 0.19 350);
  --pink-max-900: oklch(0.3 0.14 350);
  --purple-max-100: oklch(0.97 0.02 310);
  --purple-max-200: oklch(0.92 0.05 310);
  --purple-max-300: oklch(0.86 0.1 310);
  --purple-max-400: oklch(0.8 0.15 310);
  --purple-max-500: oklch(0.73 0.21 310);
  --purple-max-600: oklch(0.64 0.28 310);
  --purple-max-700: oklch(0.55 0.29 310);
  --purple-max-800: oklch(0.42 0.23 310);
  --purple-max-900: oklch(0.3 0.16 310);
  --violet-max-100: oklch(0.97 0.02 290);
  --violet-max-200: oklch(0.92 0.05 290);
  --violet-max-300: oklch(0.86 0.08 290);
  --violet-max-400: oklch(0.8 0.12 290);
  --violet-max-500: oklch(0.72 0.17 290);
  --violet-max-600: oklch(0.63 0.23 290);
  --violet-max-700: oklch(0.55 0.29 290);
  --violet-max-800: oklch(0.42 0.24 290);
  --violet-max-900: oklch(0.3 0.17 290);
  --indigo-max-100: oklch(0.96 0.02 270);
  --indigo-max-200: oklch(0.92 0.04 270);
  --indigo-max-300: oklch(0.85 0.08 270);
  --indigo-max-400: oklch(0.79 0.11 270);
  --indigo-max-500: oklch(0.71 0.16 270);
  --indigo-max-600: oklch(0.62 0.22 270);
  --indigo-max-700: oklch(0.54 0.27 270);
  --indigo-max-800: oklch(0.42 0.27 270);
  --indigo-max-900: oklch(0.29 0.19 270);
  --blue-max-100: oklch(0.96 0.02 240);
  --blue-max-200: oklch(0.91 0.05 240);
  --blue-max-300: oklch(0.85 0.09 240);
  --blue-max-400: oklch(0.78 0.13 240);
  --blue-max-500: oklch(0.7 0.19 240);
  --blue-max-600: oklch(0.6 0.18 240);
  --blue-max-700: oklch(0.51 0.15 240);
  --blue-max-800: oklch(0.4 0.12 240);
  --blue-max-900: oklch(0.29 0.09 240);
  --cyan-max-100: oklch(0.96 0.04 210);
  --cyan-max-200: oklch(0.91 0.09 210);
  --cyan-max-300: oklch(0.83 0.16 210);
  --cyan-max-400: oklch(0.77 0.18 210);
  --cyan-max-500: oklch(0.69 0.16 210);
  --cyan-max-600: oklch(0.6 0.14 210);
  --cyan-max-700: oklch(0.51 0.12 210);
  --cyan-max-800: oklch(0.4 0.09 210);
  --cyan-max-900: oklch(0.29 0.07 210);
  --teal-max-100: oklch(0.96 0.07 185);
  --teal-max-200: oklch(0.89 0.2 185);
  --teal-max-300: oklch(0.82 0.2 185);
  --teal-max-400: oklch(0.76 0.18 185);
  --teal-max-500: oklch(0.68 0.16 185);
  --teal-max-600: oklch(0.59 0.14 185);
  --teal-max-700: oklch(0.5 0.12 185);
  --teal-max-800: oklch(0.39 0.09 185);
  --teal-max-900: oklch(0.29 0.07 185);
}
